<div class="page-container">
  <form
    class="card text-white bg-dark p-5 border"
    [ngClass]="signupForm.valid ? 'border-success' : 'border-danger'"
    #signupForm="ngForm"
  >
    <div class="form-group p-2">
      <label for="userName">User Name : </label>
      <input
        name="username"
        type="text"
        class="form-control"
        ngModel
        #username="ngModel"
        placeholder="Please use short hand nicknames.Exp : mLester"
        required
      />
      <div
        style="position: fixed"
        class="alert alert-danger p-2"
        *ngIf="username.touched && username.invalid"
      >
        UserName can't be empty !
      </div>
    </div>
    <div class="form-group p-2">
      <label for="email">Email : </label>
      <input
        name="email"
        type="email"
        class="form-control"
        #email="ngModel"
        required
        ngModel
      />
      <div
        style="position: fixed"
        class="alert alert-danger p-2"
        *ngIf="email.touched && email.invalid"
      >
        Email can't be empty !
      </div>
    </div>

    <div class="form-group p-2">
      <label for="password">Password</label>
      <input
        name="password"
        type="password"
        class="form-control"
        ngModel
        #password="ngModel"
        required
      />
      <div
        style="position: fixed"
        class="alert alert-danger p-2"
        *ngIf="password.touched && password.invalid"
      >
        Password can't be empty !
      </div>
    </div>
    <button
      class="btn btn-primary p-2 m-2"
      [disabled]="signupForm.invalid"
      (click)="authService.signUp(username.value, email.value, password.value)"
    >
      Sign Up <i class="fa-solid fa-arrow-right-to-bracket"></i>
    </button>
    <div class="form-group p-2 text-center">
      Already have an account ?
      <a href="#" routerLink="/log-in"> <i>log in</i></a>
    </div>
  </form>
</div>
