.post-container{
    padding: 2%;
    background-color: black;
}
.user-info{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.pfp-image{
    width:25px;
    height: 25px;
    border-radius: 40%;
}
.post-footer{
    display: flex;
  gap: 5px;
}