:root {
  --primary-blue: rgb(0, 98, 255);
  --primary-red: rgb(255, 0, 0);
  --primary-yellow: rgb(251, 255, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}

.page-container {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5% 30%;
}
